@using HairSalon.Models;

<h3>All the clients for this @Model["stylists"].Name</h3>
<ol>

@foreach (var client in @Model["clients"])
{
<li>@client.Name</li>
}
</ol>


<h3>All the specials that this stylist knows</h3>
@foreach (var specialties in @Model["specialties"])
{
<li>@specialties.Type</li>
}
</ol>


<p><a href='/stylists/@Model["stylists"].Id/addspecial'>Add a new specialty</a></p>
<p><a href='/stylists/@Model["stylists"].Id/clients/new'>Add a new client</a></p>
<p><a href='/stylists'>Return to stylist list</a></p>
<p><a href='/'>Return to Home</a></p>


<form action="/stylists/@Model["stylists"].Id/delete" method="post">
    <label for="deleteStylist">Delete this Stylist</label>
    <button type="submit">Delete</button>
</form>
